{% extends "base.html" %}

{% block title %}Şifre Değiştir{% endblock %}

{% block content %}
<main class="container mt-5">
    <h2>Şifre Değiştir</h2>
    <form action="{{ url_for('change_password') }}" method="post">
        <div class="form-group">
            <label for="current_password">Mevcut Şifre</label>
            <input type="password" class="form-control" id="current_password" name="current_password" required>
        </div>
        <div class="form-group">
            <label for="new_password">Yeni Şifre</label>
            <input type="password" class="form-control" id="new_password" name="new_password" required>
        </div>
        <div class="form-group">
            <label for="confirm_password">Yeni Şifre (Tekrar)</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
        </div>
        <div class="btn-container">
            <button type="submit" class="btn btn-primary btn-sm">Şifreyi Güncelle</button>
        </div>
    </form>
</main>
{% endblock %}
