<footer>
    <div class="footer-content">
        <div class="footer-logo">
            <h2>Lynx Gaming Blog</h2>
        </div>
        <div class="footer-social">
            <h3>Bizi Takip Edin</h3>
            <ul>
                <li><a href="https://www.facebook.com/?locale=tr_TR">Facebook</a></li>
                <li><a href="https://x.com/home">X</a></li>
                <li><a href="https://www.instagram.com/">Instagram</a></li>
                <li><a href="https://www.youtube.com/">YouTube</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Lynx Gaming Blog. Tüm Hakları Saklıdır.</p>
    </div>
</footer>
