{% extends "base.html" %}

{% block title %}Şifreyi Sıfırla{% endblock %}

{% block content %}
<main>
    <div class="modal-content">
        <h2>Şifreyi Sıfırla</h2>
        <form action="{{ url_for('reset_password', token=token) }}" method="post" class="auth-form">
            <label for="password">Yeni Şifre:</label>
            <input type="password" id="password" name="password" required>
            
            <label for="confirm_password">Yeni Şifreyi Onayla:</label>
            <input type="password" id="confirm_password" name="confirm_password" required>
            
            <button type="submit">Şifreyi Güncelle</button>
        </form>
    </div>
</main>
{% endblock %}
