{% extends "base.html" %}

{% block title %}Yeni Mesaj Gönder{% endblock %}

{% block content %}
<main class="container mt-5">
    <h2>Bütün Kullanıcılara Mesaj Gönder</h2>
    <form action="{{ url_for('send_message') }}" method="post">
        <div class="form-group">
            <label for="recipient_emails">Alıcılar</label>
            <select id="recipient_emails" name="recipient_emails" class="form-control" multiple required>
                {% for user in users %}
                    <option value="{{ user.email }}">{{ user.username }} ({{ user.email }})</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="subject">Konu</label>
            <input type="text" id="subject" name="subject" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="message">Mesaj</label>
            <textarea id="message" name="message" class="form-control" rows="5" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Gönder</button>
    </form><br>
    <form action="{{ url_for('admin_users') }}" method="get">
        <button type="submit" class="btn btn-sm btn-danger">Geri Dön</button>
    </form>
</main>
{% endblock %}
