{% extends "base.html" %}

{% block title %}{{ user.username }}'nin Yorumları{% endblock %}

{% block content %}
<main class="container mt-5">
    <h2>{{ user.username }}'nin Yorumları</h2>
    <div class="mt-4">
        {% for comment in comments %}
        <div class="card mb-2">
            <div class="card-body d-flex align-items-start">
                <img src="{{ url_for('static', filename=comment.author.profile_image) if comment.author.profile_image else url_for('static', filename='images/default_profile.png') }}" alt="Profil Fotoğrafı" class="profile-img-small mr-3">
                <div>
                    <p class="card-text mb-1">
                        <strong>{{ comment.author.username }}</strong>
                        <span class="text-muted" style="font-size: 0.85em;">{{ comment.created_date.strftime('%d %B %Y %H:%M') }}</span>
                    </p>
                    <p class="card-text">{{ comment.content }}</p>
                </div>
            </div>
            <br>
            <button class="btn-like" data-comment-id="{{ comment.id }}">
                <span class="heart {% if comment.id in liked_comments %}liked{% endif %}"></span>
                <span class="like-count">{{ comment.likes }}</span>
            </button>
            {% if current_user.is_admin %}
                <div class="btn-container mt-2">
                    <form action="{{ url_for('delete_comment', comment_id=comment.id) }}" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-sm btn-danger">Sil</button>
                    </form>
                </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <form action="{{ url_for('admin_users') }}" method="get">
        <button type="submit" class="btn btn-sm btn-danger">Geri Dön</button>
    </form>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $('.btn-like').click(function() {
        var commentId = $(this).data('comment-id');
        var button = $(this);
        $.ajax({
            url: '/like_comment/' + commentId,
            type: 'POST',
            success: function(response) {
                button.find('.like-count').text(response.likes);
                button.find('.heart').toggleClass('liked');
            },
            error: function(xhr, status, error) {
                console.log('Error:', error);
            }
        });
    });
});
</script>
{% endblock %}
